<body  ng-app="app">
    
<div class="pagecontent"  data-ng-controller="FormsCommonCtrl">
    
    <div class="row">
       
      <div class="col-md-12">
 
<section class="tile" fullscreen="isFullscreen01"> 

<div class="tile-header dvd dvd-btm">
    
   <h1 class="custom-font"><strong>INTERNS</strong></h1>
    <ul class="controls">
<!-- <li><a href="javascript:window.print()" class="fa fa-plus mr-5" uib-tooltip="Print"><i class="fa fa-print"></i></a></li>-->
   <li><a ui-sref="app.shop.single-order" ><i class="fa fa-plus mr-5"  ></i>Add Objectives</a></li>

    <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
        
           <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
         <li>
                <a href tile-control-toggle>
                <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                </a>
          </li>
           <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                  <fa name="refresh"></fa> Refresh
                  </a>
            </li>
            <li>
                 <a href tile-control-lightbox>
                 <fa name="magnet"></fa> Open in Lightbox
                 </a>
            </li>

        </ul>

     </li>
     <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
    </ul>
   </div> 
      
<div>
  <div class="panel">
   <div class="row">
                         
      <div class="col-md-8 col-sm-12">
                             
          <div class="inline-controls">
           <div class="dataTables_length" id="DataTables_Table_0_length">
            <label  class="col-md-8 col-sm-12">View Interns<br>
                
                <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> 
            </label>
                                  
            </div>
      </div>
      </div>
                <div class="col-md-3 col-sm-8">
                    <div class="pull-right">
                        <div id="DataTables_Table_0_filter" class="dataTables_filter">
                            <label>
                                Search<input type="search" class="form-control input-sm" placeholder="Search" ng-model="searchKeyword"aria-controls="DataTables_Table_0">
                            </label>
              
                         </div>
                    </div>
                  </div>
                  </div>      
<div class="panel-body">
<table class="table table-bordered bordered table-striped table-condensed datatable" ui-options="dataTableOpt">
          
     <thead>
          

        <tr>
      
          <th>ID</th>
        <th>Name</th>
		<th>Surname</th>
		<th>Email</th>
        <th>Gender</th>
        <th>Company</th>
        <th>Contacts</th>
        <th>Performance</th>
        <th>Actions</th>
            
        </tr>
         
      </thead>
 
    <tr>
          
<form class="form-horizontal" role="form" ng-submit="addRow()">
    
    
    <td class="col-md">
<!--
            <input type="text" class="form-control" placeholder="id" name="id"
            ng-model="newIntern.id" />
-->
		</td>
		<td class="col-md">
            <input type="text" class="form-control" placeholder="name" name="name"
            ng-model="newIntern.name" />
		</td>
    
		<td class="col-md">
            <input type="text" placeholder="surname" class="form-control" name="surname"
            ng-model="newIntern.surname" />
		</td>
    
		<td class="col-md">	
           <input type="email" class="form-control" placeholder="email@example.com" name="email"
           ng-model="newIntern.email" />
		</td>
    
        <td class="col-md">
			<input type="text" class="form-control" placeholder="gender" name="gender"
			ng-model="newIntern.gender" />
		</td>
    
		<td class="col-md">
			<input type="text" class="form-control" placeholder="company" name="company"
			ng-model="newIntern.company" />
		</td>
    
        <td class="col-md">
			<input type="number" class="form-control" name="contacts"
			ng-model="newIntern.contacts" placeholder="+27"/>
		</td>
        
        <td class="col-md"></td>
 
        <td class="col-md">								
         <input type="submit" value="Add Intern"  ng-click="addNewIntern(newIntern)"class="btn btn-xs btn-default"/>
            
        </td>
    
        </form>
    
	    </tr>
    
    
        <tbody>
       <tr ng-repeat="Intern in Interns | filter: searchKeyword  track by $index">
           
            <td ng-hide="editMode">{{Intern.id}}</td>
            <td ng-if="editMode"></td>
           
            <td ng-hide="editMode">{{Intern.name}}</td>
            <td ng-if="editMode"><input type="text" class="form-control" placeholder="name" name="name" ng-model="Intern.name"/></td>
           
            <td ng-hide="editMode" >{{Intern.surname}}</td>
            <td ng-if="editMode"> <input type="text" class="form-control" placeholder="surname" name="id"ng-model="Intern.surname" /></td>
           
            <td ng-hide="editMode" >{{Intern.email}}</td>
            <td ng-if="editMode"> <input type="email" class="form-control" placeholder="email" name="id"ng-model="Intern.email" /></td>
           
            <td ng-hide="editMode">{{Intern.gender}}</td>
            <td ng-if="editMode"> <input type="text" class="form-control" placeholder="gender" name="id"ng-model="Intern.gender"/></td>
           
            <td ng-hide="editMode">{{Intern.company}}</td>
            <td ng-if="editMode"> <input type="text" class="form-control" placeholder="company" name="id"ng-model="Intern.company"/>
           </td>
           
            <td ng-hide="editMode">{{Intern.contacts}}</td>
            <td ng-show="editMode" > <input type="text" class="form-control" placeholder="contacts" name="id"
            ng-model="Intern.contacts"/>
            </td>
           
           <td ng-hide="editMode"><a ui-sref="app.calendar" class="btn btn-xs btn-default"><i class="fa fa-search"></i>View activities</a></td>
         <td>
              <span ng-hide="editMode" class="btn btn-sm btn-success" ng-click="edit(Intern)"><i class="fa fa-edit"></i></span>
              <span ng-hide="editMode" class="btn btn-sm btn-warning" data-ng-click="remove($index)"><i class="fa fa-trash"></i></span>

              <span ng-show="editMode" class="btn btn-sm btn-primary"  ng-click="save(Intern)"><i class="fa fa-save"></i></span>
              <span ng-show="editMode"class="btn btn-sm btn-info" ng-click="clear(Intern)"><i class="fa fa-remove"></i></span>
            </td>
           </tr>
            
           </tbody>
    
    </table>
      </div>
       </div>
   </div>
</section>
     </div>
   </div>
</div>
</body>