<body controller="RegMentorCtrl">

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred"></span>INTERN LOGBOOK</h3></div>

  <div class="container bg-white text-center">

    <h2 class="text-light text-greensea">Register New Mentor</h2>
<table class="table">
 <form role="form" >
    <div class="form-group">
      
      <input type="text" class="form-control"  placeholder="Enter Title" name="title" ng-model="mentor.title">
    </div>
    <div class="form-group">
      
      <input type="text" class="form-control"  placeholder="Enter First Name" name="firstname"ng-model="mentor.firstname">
    </div>
     <div class="form-group">
      
      <input type="text" class="form-control"  placeholder="Enter Last Name" name="lastname"ng-model="mentor.lastname">
    </div>
        
    <div class="form-group">
      
      <input type="email" class="form-control"  placeholder="Enter Email" name="email" ng-model="mentor.email">\
        </div>
         <div class="form-group">
      
      <input type="text" class="form-control"  placeholder="Enter Phone No" name="phone" ng-model="mentor.phone">
    </div>
    <div class="form-group" ng-controller = "Company">
     
      <select name ="" ng-model = "select_company" ng-option ="company.name for company in company">
        <option value="">Select Company</option>
           <option value="">Skhomo Tecnologies</option>
           <option value="">IT academy</option>
           <option value="">Vodacom</option>
           <option value="">Absa</option>
        </select>
        
      </div>
          <div class="form-group">
      
      <input type="text" class="form-control"  placeholder="Enter Mentor Name" name="company"ng-model="intern.mento">
    </div>
        <div class="form-group" ng-controller = "Department">
      
       <select name ="" ng-model = "select_department" ng-option ="department.name for department in company">
        <option value="">Select Department</option>
           <option value="">Development</option>
           <option value="">Business Analyst</option>
           <option value="">Sales</option>
           <option value="">Infrustructure</option>
           <option value="">Marketing</option>
           <option value="">Human Resourse</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-default" ng-click=Intern()>Save</button>
  </form>
   </table>
      <a ui-sref="app.forms.common" class="btn btn-default" href="#/app/forms/common">Back</a>
    </div>
 </body>