<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!-- Trigger the modal with a button -->

<body>
   <div class="container">
       <hr>
       
       <h3>Interns List</h3>
       <span class="clearfix"></span>
        <hr>
       
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Company</th>
        <th>Mento</th>
        <th>Department</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ms</td>
        <td>Lerato</td>
        <td>Raloobo</td>
        <td>eraloobo@gmail.com</td>
        <td>0781247941</td>
        <td>Skhomo Technologies</td>
          <td>Tsheko</td>   
          <td>Development</td> 
      </tr>
        
      <tr>
          <td>Ms</td> 
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
         <td>0835511142</td>
        <td>Skhomo Technologies</td>
          <td>Andy</td>
          <td>Networks</td> 
         
      </tr>
      <tr>
          <td>Mr</td> 
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>0835511142</td>
        <td>Skhomo Technologies</td>
          <td>Theo</td> 
          <td>Support</td> 
          
        
      </tr>
    </tbody>
  </table>
    </div>     
    
</body>
