<body >

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred"></span>INTERN LOGBOOK</h3></div>

  <div class="container bg-white text-center">

    <h2 class="text-light text-greensea">Registered Companies</h2>
      
     <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Registration</th>
        <th>Tell No</th>
        <th>Email</th>
        <th>Website</th>
        <th>Street</th>
        <th>Build Name</th>
        <th>City</th>
        <th>Action</th>
        
       
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>Skhomo Technologies</td>
        <td>Reg/123/457</td>
        <td>+27 (0)11 026 5254</td>
         <td>info@skhomotech.co.za</td>
        <td>www.skhomotech.co.za</td>
        <td>Boulevard</td>
        <td>African House</td>
        <td>Rivonia</td>
        <td>
          <button type="button" class="btn btn-info " >Edit</button>
        </td>
       
      </tr>
        <tr>
        <td>Skhomo Technologies</td>
        <td>Reg/123/457</td>
        <td>+27 (0)11 026 5254</td>
         <td>info@skhomotech.co.za</td>
        <td>www.skhomotech.co.za</td>
        <td>Boulevard</td>
        <td>African House</td>
        <td>Rivonia</td>
        <td>
          <button type="button" class="btn btn-info " >Edit</button>
        </td>
       
      </tr>
        <tr>
        <td>Skhomo Technologies</td>
        <td>Reg/123/457</td>
        <td>+27 (0)11 026 5254</td>
         <td>info@skhomotech.co.za</td>
        <td>www.skhomotech.co.za</td>
        <td>Boulevard</td>
        <td>African House</td>
        <td>Rivonia</td>
        <td>
          <button type="button" class="btn btn-info " >Edit</button>
        </td>
       
      </tr>
    </tbody>
  </table>
    </div>
    
      
        <p >
				<a ui-sref="app.forms.regCompany" class="text-uppercase">Add new Company</a>
			</p>
   </body>   
         