<body>
<div class="pagecontent">
    
    <div class="row">
       
          <div class="col-md-12">
 
  <section class="tile" fullscreen="isFullscreen01"> 

      
      
<div class="tile-header dvd dvd-btm">
<h1 class="custom-font"><strong>INTERNS</strong></h1>
    <ul class="controls">
<!-- <li><a href="javascript:window.print()" class="fa fa-plus mr-5" uib-tooltip="Print"><i class="fa fa-print"></i></a></li>-->
        
    <li><a ui-sref="app.shop.single-order" ><i class="fa fa-plus mr-5"  ></i>Add Objectives</a></li>
        
    <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
     <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
         <li>
           <a href tile-control-toggle>
              <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                 </a>
          </li>
           <li>
                <a href tile-control-refresh ng-click="ajaxFaker()">
               <fa name="refresh"></fa> Refresh
                </a>
            </li>
            <li>
                 <a href tile-control-lightbox>
                 <fa name="magnet"></fa> Open in Lightbox
                </a>
            </li>

        </ul>

     </li>
     <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
    </ul>
   </div> 
      
      
      
        
      

<div ng-app="app">
  <div class="panel" data-ng-controller="ProductsCtrl">
  <div class="panel-heading border">    

  </div>
  <div class="panel-body">
      
      <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
          
      <thead>
          

        <tr>
      
          <th>ID</th>
        <th>Name
		</th>
		<th>Surname
		</th>
		<th>Email
		</th>
        <th>Gender
		</th>
        <th>Company
		</th>
        <th>Position
		</th>
          <th>Contacts
		</th>
        <th>Performance
		</th>
          <th>Actions
		</th>
        </tr>
      </thead>
                    	<tr>
          

    <form class="form-horizontal" role="form" ng-submit="addRow()">
        	<td class="col-md">
            
            <input type="number" class="form-control" name="name"
				ng-model="index" />
		</td>
		<td class="col-md">
            
            <input type="text" class="form-control" name="name"
				ng-model="name" />
		</td>
		<td class="col-md"><input type="text" class="form-control" name="surname"
				ng-model="surname" />
		</td>
		<td class="col-md">	
			<input type="email" class="form-control" name="email"
				ng-model="email" />
		
		</td>
        <td class="col-md">
			<input type="text" class="form-control"  name="gender"
				ng-model="gender" />
		</td>
		<td class="col-md">
			<input type="text" class="form-control" name="company"
				ng-model="company" />
		
		</td>
		<td class="col-md">
			<input type="text" class="form-control" name="position"
				ng-model="position" />
		</td>
        <td class="col-md">
			<input type="number" class="form-control" name="contacts"
				ng-model="contacts" placeholder="+27"/>
		</td>
        
        <td class="col-md">								
		
			
        </td>
 
          <td class="col-md">								
		
			<input type="submit" value="Add Intern"  ng-click="addRow()"class="btn btn-xs btn-default"/>
        </td>
        </form>
    
	    </tr>
        <tbody>
  
    
     <tr ng-repeat="n in data" ng-include="getTemplates(n)">            
          </tr>
        </tbody>
    </table>
    <script type="text/ng-template" id="view.html">
  		<td style="text-align:center;">{{$index+1}}</td>
            <td>{{n[1]}}</td>
            <td>{{n[2]}}</td>
            <td>{{n[3]}}</td>
            <td>{{n[4]}}</td>
            <td>{{n[5]}}</td>
            <td>{{n[6]}}</td>
            <td>{{n[7]}}</td>
            <td>  <a ui-sref="app.calendar" class="btn btn-xs btn-default"><i class="fa fa-search"></i>View activities</a></td>
            <td><span class="btn btn-sm btn-success" ng-click="edit(n)"><i class="fa fa-edit"></i></span>
                
            <span class="btn btn-sm btn-warning" ng-click="remove(n)"><i class="fa fa-trash"></i></span>
            </td>
</script>
<!--selected is an array json object with eight deatils inside it ,so each detail is returned if you select specific object  i hoep you get me,jea so i must start with an index of 0 on selected?or m misunderstanding u,how can i add to the table?-->
    <script type="text/ng-template" id="edit.html">
  <td style="text-align:center;">{{$index+1}}</td>
  <td><input type="text" class="form-control" ng-model="selected[0]" value="{{n[0]}}"/></td>
  <td><input type="text" class="form-control" ng-model="selected[1]" value="{{n[1]}}"/></td>
  <td><input type="text" class="form-control" ng-model="selected[2]" value="{{n[2]}}"></td>
  <td><input type="text" class="form-control" ng-model="selected[3]" value="{{n[3]}}"/></td>
  <td><input type="text" class="form-control" ng-model="selected[4]" value="{{n[4]}}"/></td>
  <td><input type="text" class="form-control" ng-model="selected[5]" value="{{n[5]}}"/></td>
  <td><input type="text" class="form-control" ng-model="selected[6]" value="{{n[6]}}"/></td>
  <td><input type="text" class="form-control" ng-model="selected[7]" value="{{n[7]}}"/></td>
      
  <td><span class="btn btn-sm btn-primary" ng-click="save()"><i class="fa fa-save"></i></span>
  <span class="btn btn-sm btn-info" ng-click="clear()"><i class="fa fa-remove"></i></span>
  </td>
 

</script>
  </div>
</div>
</div>
 </section>
               </div>
       </div>
</div>
    </body>